body{
    background-color:whitesmoke;
    font-family: 'Muli', sans-serif;
    margin:0px;
    padding:0px;
}
header{
    background-color: cornflowerblue;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    padding:10px 10%;
}
li {
    display: inline-block;
   
}
.link_nav a{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: ivory;

}
.logo{
    margin-right: auto;
}
.btn{
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-size:20px;
    transition: ease;
    cursor: pointer;
}
a:hover{
    color:black;
}
button:hover{
    color:white;
    background-color: black;
}
#titre{
    text-align:center;
    
}
#description{
    text-align: center;
    font-size: large;
}
#survey-from{
    background-color: rgb(225 225 225);
    width: 550px;
    margin:10px auto;
    padding:15px;
    border-radius: 25px;
    box-shadow:4px 4px 10px #555;
    margin-bottom: 20px;
    
   

}
.from_control{
    width:90%;
    border: solid 3px cornflowerblue;
    padding: 6px 12px;
    text-align: left;
    
   
    
}
.from-group{
    display:flex;
    flex-direction: column;
    text-align:left;
}
.input-textarea{
    margin: 10px;
    padding:15px;
    border:solid 3px cornflowerblue;
}
footer{
    background-color: cornflowerblue;
    width:100%;
    height:50px;
    margin:0px;
    padding:5px;
    text-align: center;
    margin-bottom: 0px;
}

.radio{
    padding; 4px;
}
footer a{
    text-decoration: none;
    color: honeydew;
    font-size: 25px;
}
@media screen and (max-width:640px){
    li{
        display:block;
    }
    #survey-from{
        width: 100%;
        border-radius: 0px;
    }
    .from-group{
        width: 90%;
    }
}
